@media (max-width: 575.98px) {
    body{
        overflow-x: hidden;
    }
	.menu-container .logo{
        width: 20%;
    }
    .menu-container .menu1{
        display: none;
        width: 102%;
        z-index: 100;
        height: 350px;
        position: absolute;
        transform: translateY(70px) translateX(-10px);
        background-color: rgb(61, 97, 0);
    }
    .menu-container .menu1 ul{
        flex-direction: column;
    }
    .menu-container .icon .fa-bars{
        display: block;
    }
    .menu-container .icon .fa{
        transform: translateX(-60px);
    }
    .menu-container .icon{
        position: relative;
    }
    .Container-fluid{
        margin-top: 0;
    }
    .box1{
        transform: translateY(-180px) translateX(30px);
    }
    .Btn {
        transform: translateX(-330px) translateY(300px);
    }
    .box1 h1{
        font-size: 45px;
    }
    .boximg{
        transform: translateY(50px);
    }
    .feature-container{
        width: 98%;
    }
    .feature-container .item{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    .product-container{
        width: 95%;
    }
    .box-prd{
        margin-bottom: 20px;
        height: 600px;
    }
    .box-prd .img img{
        object-fit: contain;
    }
    .box-prd .name , .box-prd .rate{
        transform: translateY(-30px);
    }
    .box-prd .price_add{
        transform: translateY(-20px);
    }
    .box-prd .img .icon-hover{
        width: 9%;
        height: 150px;
    }
    .banner-container{
        width: 96%;
        height: 800px;
    }
    .banner-container .inside-box{
        margin-left: 20px;
        transform: translateY(100px);
    }
    .banner-container .inside-box .des h1{
        font-size: 50px;
    }
    .banner-container .inside-box .button{
        width: 30%;
    }
    .banner-container .img{
        width: 100%;
        height: 100%;
    }
    .banner-container .img img{
        width: 100%;
        height: 100%;
        transform: translateX(0) translateY(200px);
    }
    .aboutus{
        width: 95%;
    }
    .contact{
        width: 95%;
    }
    .contact .icon-container{
        padding: 5px;
    }
    .contact .icon-container .box-icon{
        width: 100%;
    }
    form{
        width: 95%;
    }
    form input{
        width: 100%;
    }
    form input[type="submit"]{
        width: 30%;
    }
}